*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px; 
  line-height: 1.5;
  color: #333;
  background-color: #f8f8f8;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



/* nav section */
.main-panel {
  background-color: #333;
  color: #fff;
  
  width: 100%;
  text-align: center;
  
  
}

.logo {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logo span {
  color: #88D66C;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 35px;
}

nav a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  color: #cc2323;
  border: 1px solid black;
  border-radius: 06px;
}



.sign-in{
  color: #84dcf2;
}

.features{
  margin-left: 27px;
  margin-right: 27px;
}

.width-66{
  background-color: #eeeeee;
  padding-left: 30px;
  padding-right: 30px;
}


.hero-section{
  background-image: url("BANNER5.png");
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg{
  background-color: #8bf1ea;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 100%;   
}

.important{
background-color: #ee2c2c;
color: black;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 0.85rem;
width: 100%;

}

.information{
background-color: #e77b23;
color: black;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 0.85rem;
width: 100%;

}


.hero-msg a{
  color: #007185;
}

.conti {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #e2e7e6;
} 

.conti :hover{
border: 1px;

}

.box {
/* border: 2px solid black; */
height: 200px;
width: 28%;
background-color: white;
padding: 20px 0px 15px;
margin-top: 20px;
margin-bottom: 20px; 
}


/* Earthquake response */

.response {
padding: 30px;
background-color: #e2e7e6;
}

.response h2 {
font-size: 30px;
font-weight: bold;
margin-bottom: 07px;
}

.response ul {
list-style: none;
padding: 0;
margin: 0;
}

.response li {
margin-bottom: 10px;
font-size: 16px;
}

.response li:before {
content: "\f0a9";
font-family: FontAwesome;
margin-right: 10px;
color: #0946c9;
}



.Emergency{
background-color: #e77b23;
color: black;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 0.85rem;
width: 100%;

}


.footer {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border: 4px solid #333;
}

.foot-panel2{
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  /* padding-top: 35px; */
}  

ul {
margin-top: 35px;
}

ul a {
display: block;
font-size: 0.85rem;
margin-top: 10px;
color: #dddddd;
}

ul a:hover{
color: #fafafa;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 01px;
}